.idea

app/node_modules/
venv/

# Ensure .venv and .env are still locally editable
# E.g these should be mounted into the container
.venv
.env

.data/

**/__pycache__
*.pyo
*.pyc

knowledge_graphql_microservices/.cache
knowledge_graphql_microservices/.pytest_cache
knowledge_graphql_microservices/.coverage
knowledge_graphql_microservices/coverage
knowledge_graphql_microservices/cover/
