# Ignore everything in .idea
.idea

*.mo
*.pyo
*.pyc
.sass-cache/
yarn-error.log
node_modules/
venv/
.cache/
.nvmrc
.venv

graphql-proxy/.env
gql_accounts_service/.env
gql_lists_service/.env
gql_products_service/.env

.data/

gql_accounts_service/django.env
gql_accounts_service/settings/local.py
gql_accounts_service/settings/local_test.py
service_*/db.sqlite3
service_*/assets/

service_*/.cache
service_*/.pytest_cache
service_*/.coverage
service_*/coverage
service_*/cover/

# Node Project files
app/build/
app/coverage/

# Missing translations file
**/locales/**/*.missing.json
