# Ignore everything in .idea
.idea

*.mo
*.pyo
*.pyc
.sass-cache/
yarn-error.log
node_modules/
venv/
.cache/
.nvmrc
.venv

# Ignore GraphQL helpers
frontend-app/.graphqlconfig
frontend-app/schema.json

graphql-proxy/.env

.data/

*_service/.env
*_service/django.env
*_service/settings/local.py
*_service/db.sqlite3
*_service/assets/
*_service/.cache
*_service/.pytest_cache
*_service/.coverage
*_service/coverage
*_service/cover/

# Node Project files
app/build/
app/coverage/

# Missing translations file
**/locales/**/*.missing.json
