[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
boto3 = "==1.9.*"
Django = "==1.11.*"
djangorestframework = "==3.9.*"
django-filter = "==2.1.*"
djangorestframework_simplejwt = "==4.3.*"
django-crispy-forms = "==1.7.*"
django-environ = "*"
django-redis = "==4.9.*"
django-cors-headers = "==3.0.*"
"django-storages" = "==1.7.*"
gunicorn = "==19.*"
"psycopg2-binary" = "==2.7.*"
pyyaml = "==5.*"
raven = "==6.*"
redis = "==2.10.*"
Sphinx = "*"
sphinx_rtd_theme = "*"
tg-utils = {version = "*", extras = ["model-hash"]}
tg-react = "*"

# Testing & quality tools
# NOTE: the versions below are selected due to prospector==1.1.6.2 requirements
#  which are a bit OOD. Currently cannot select newer prospector because pylint plugin does not run
coverage = "*"
flake8 = "==3.5.*"
isort = "==4.*"
pytest = "==4.*"
pytest-django = "*"
pytest-cov = "*"
prospector = "==1.1.6.2"
pycodestyle = "*"
pylint = "<2.3"
pylint-django = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.8"
